<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/coin/">Flip the coin</a>
    <a href="/pick/<choice1>/<choice2>">Picker?</a>
    <a href="/age/">Age</a>
    <a href="/magic/">Magic8AirBall</a>
    <a href="/fizzbuzz/">Fizzbuzz</a>
    <a href="/shout/">shout</a>
    <a href="/grade/<grade>">Grade</a>
</body>
<h1>Assignment</h1>
</html>